nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
nav li:hover{
    background-color: lightsalmon;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav > ul > li:hover > ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute; 
    background-color: lightgrey;
    padding: 0;
}
.dropdown li{
    margin: 0;
    padding: 5px 10px;
}
